argh
autopep8
brotlipy
flake8
flask
future
mypy-extensions
pillow
pip-chill
pydocstyle
pyopenssl
pysocks
pyyaml
rope
sip
spyder
tensorflow
unidecode
whichcraft
win-inet-pton
wincertstore
yapf
